h1 {
    color: rgb(8, 8, 109);
    border-bottom: 2px solid black;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

h2 {
    color: rgb(10, 10, 163);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

p {
    color: rgb(1, 1, 31);
        font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

footer {
    color: rgb(1, 1, 31);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}